<div class="container">
  <h1>Restaurant Details</h1>
  <hr>
  <h3><%= @restaurant.name %></h3>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
  <%= link_to "Go back to all restaurants", restaurants_path %>
  <hr>

  <h3>Restaurant reviews:</h3>
  <hr>
  <% @restaurant.reviews.each do |review| %>
  <%= review.content %>
  <hr>
  <% end %>
  <%= link_to "Add review for restaurant", new_restaurant_review_path(@restaurant)  %>
</div>
